<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="$(arg name)">

  <xacro:arg name="name" default="ur"/>
  <xacro:arg name="use_sim" default="false"/>
  <xacro:arg name="include_digilab" default="false"/>

  <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>
  
  <xacro:include filename="$(find robotiq_description)/urdf/robotiq_2f_140_macro.urdf.xacro" />
  <xacro:include filename="$(find robotiq_description)/urdf/ur_to_robotiq_adapter.urdf.xacro" />
  <xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro" />
  
  <xacro:arg name="ur_type" default="ur10e"/>
  
  <!-- parameters -->
  <xacro:arg name="tf_prefix" default="" />
  <xacro:arg name="joint_limit_params" default="$(find setup_description)/config/$(arg ur_type)/joint_limits.yaml"/>
  <xacro:arg name="kinematics_params" default="$(find setup_description)/config/$(arg ur_type)/default_kinematics.yaml"/>
  <xacro:arg name="physical_params" default="$(find setup_description)/config/$(arg ur_type)/physical_parameters.yaml"/>
  <xacro:arg name="visual_params" default="$(find setup_description)/config/$(arg ur_type)/visual_parameters.yaml"/>
  <xacro:arg name="transmission_hw_interface" default=""/>
  <xacro:arg name="safety_limits" default="false"/>
  <xacro:arg name="safety_pos_margin" default="0.15"/>
  <xacro:arg name="safety_k_position" default="20"/>
  <xacro:arg name="robot_ip" default="172.16.7.75"/>
  <xacro:arg name="use_tool_communication" default="true"/>
  <xacro:arg name="use_fake_hardware" default="false"/>
  <xacro:arg name="gripper_com_port" default="/tmp/ttyUR"/>
  <xacro:arg name="script_filename" default=""/>
  <xacro:arg name="output_recipe_filename" default=""/>
  <xacro:arg name="input_recipe_filename" default=""/>
  <xacro:arg name="tool_voltage" default="24"/>
  <xacro:arg name="tool_baudrate" default="115200"/>
  <xacro:arg name="tool_parity" default="0" />
  <xacro:arg name="tool_stop_bits" default="1" />
  <xacro:arg name="tool_rx_idle_chars" default="1.5"/>
  <xacro:arg name="tool_tx_idle_chars" default="3.5" />
  <xacro:arg name="use_nominal_extrinsics" default="false"/>
  <xacro:arg name="add_plug" default="false" />
  <xacro:arg name="use_mesh" default="true" />
  
  <xacro:arg name="controllers_file" default="config/ur_controllers.yaml"/>
  <xacro:arg name="use_cam_flange_support" default="false"/>

  <!-- Gazebo Ignition plugin -->
  <xacro:property name="comparable_use_sim" value="$(arg use_sim)" />
  <xacro:if value="${comparable_use_sim}">
    <xacro:include filename="$(find setup_description)/gazebo/ur_robotiq.ignition_macro.xacro" />
    <xacro:ur_robotiq_ignition_macro 
      runtime_config_package="setup_description"
      path_to_yaml="$(arg controllers_file)"
      namespace="/"
      prefix="$(arg tf_prefix)"
    />
  </xacro:if>

  <!-- create link fixed to the "world" -->
  <link name="world" />

  <!-- Digilab -->
  <xacro:property name="comparable_include_digilab" value="$(arg include_digilab)" />
  
  <xacro:if value="${comparable_include_digilab}">
    <xacro:include filename="$(find setup_description)/urdf/digilab_macro.urdf.xacro" />
    <xacro:digilab parent="world" prefix="">
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </xacro:digilab>
    <xacro:property name="ur_parent" value="stand_mounting" />
  </xacro:if>

  <xacro:unless value="${comparable_include_digilab}">
    <xacro:property name="ur_parent" value="world" />
  </xacro:unless>
  
  <!-- arm -->
  <xacro:ur_robot
    name="$(arg name)"
    tf_prefix="$(arg tf_prefix)"
    parent="${ur_parent}"
    joint_limits_parameters_file="$(arg joint_limit_params)"
    kinematics_parameters_file="$(arg kinematics_params)"
    physical_parameters_file="$(arg physical_params)"
    visual_parameters_file="$(arg visual_params)"
    safety_limits="$(arg safety_limits)"
    safety_pos_margin="$(arg safety_pos_margin)"
    safety_k_position="$(arg safety_k_position)"
    sim_ignition="$(arg use_sim)"
    use_tool_communication="$(arg use_tool_communication)"
    robot_ip="$(arg robot_ip)"
    script_filename="$(arg script_filename)"
    output_recipe_filename="$(arg output_recipe_filename)"
    input_recipe_filename="$(arg input_recipe_filename)"
    tool_voltage="$(arg tool_voltage)"
    tool_baud_rate="$(arg tool_baudrate)"
    tool_parity="$(arg tool_parity)"
    tool_stop_bits="$(arg tool_stop_bits)"
    tool_rx_idle_chars="$(arg tool_rx_idle_chars)"
    tool_tx_idle_chars="$(arg tool_tx_idle_chars)"
  >
    <origin xyz="0 0 0" rpy="0 0 0" /> 
  </xacro:ur_robot>

  <!-- Camera flange support -->
  <xacro:property name="comparable_use_cam_flange_support" value="$(arg use_cam_flange_support)" />

  <xacro:if value="${comparable_use_cam_flange_support}">
    <xacro:property name="ur_to_robotiq_adapter_parent" value="cam_flange_ring_mounting" />
    <xacro:include filename="$(find cam_flange_support)/urdf/cam_flange_support_macro.urdf.xacro" />
    <xacro:cam_flange_support parent="tool0" >
      <origin xyz="0 0 0" rpy="0 0 0" /> 
    </xacro:cam_flange_support>
  </xacro:if>

  <xacro:unless value="${comparable_use_cam_flange_support}">
    <xacro:property name="ur_to_robotiq_adapter_parent" value="tool0" />
  </xacro:unless>

  <xacro:ur_to_robotiq prefix="" parent="${ur_to_robotiq_adapter_parent}" child="adapter_to_gripper"/>

  <!-- Robotiq 2F-140 Gripper connected to adapter -->
  <xacro:robotiq_gripper 
    name="RobotiqGripperHardwareInterface" 
    prefix="" 
    parent="adapter_to_gripper"
    sim_ignition="$(arg use_sim)"
    use_fake_hardware="$(arg use_fake_hardware)"
    com_port="$(arg gripper_com_port)">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:robotiq_gripper>

  <!-- Virtual link for end effector at the fingertips -->
  <link name="ee_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.001"/>
      </geometry>
      <material name="transparent">
        <color rgba="0 0 0 0"/>
      </material>
    </visual>
  </link>

  <joint name="ee_joint" type="fixed">
    <parent link="tool0"/>
    <child link="ee_link"/>
    <origin xyz="0 0 0.22" rpy="0 0 0"/>
  </joint>

  <!-- Realsense D435 Camera -->

  <xacro:sensor_d435 parent="base_link" use_nominal_extrinsics="$(arg use_nominal_extrinsics)" add_plug="$(arg add_plug)" use_mesh="$(arg use_mesh)">
    <origin xyz="-1.090329 0.318755 0.635220" rpy="-0.015609 0.316050 0.494161"/> <!-- SET CAMERA EXTRINSICS -->
  </xacro:sensor_d435>

  <!-- ADDITIONAL FRAMES -->

  <!-- Calibration Frame-->
  <link name="charuco_board"/>

  <joint name="charuco_board_joint" type="fixed">
    <parent link="robotiq_base_link"/>
    <child link="charuco_board"/>
    <origin xyz="-0.15 0 0.15" rpy="0 0 -1.5708"/> <!-- SET CALIBRATION BOARD FRAME -->
  </joint>

  <!-- Place Frame -->
  <link name="object_place"/>

  <joint name="object_place_joint" type="fixed">
    <parent link="world"/>
    <child link="object_place"/>
    <origin xyz="-0.220 0.587 0.152" rpy="-3.083 0.018 -1.727"/> <!-- SET OBJECT PLACE FRAME -->
  </joint>
</robot>